@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Raleway";
  src: url(./fonts/Raleway-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Montserrat";
  src: url(./fonts/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: "PlayFair";
  src: url(./fonts/PlayfairDisplay-VariableFont_wght.ttf);
}
body {
  font-family: sans-serif;
  width: 100%;
  height: 100%;
  color: white;
  position: relative;
}

header {
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: white;
  height: 200px;
}
header .logo {
  width: 365px;
  height: 85px;
  margin-bottom: 25px;
  display: flex;
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
}
header .logo .logo_text {
  width: 265px;
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 15px;
}
header .logo .logo_text p {
  color: black;
  font-size: 24px;
  font-family: "Montserrat";
  display: block;
  font-weight: 500;
}
header .logo .logo_img {
  width: 85px;
  height: 85px;
  background-image: url(./images/logo.jpg);
  background-size: cover;
  border-radius: 50%;
}

.main {
  width: 100%;
  height: 500px;
  background-color: paleturquoise;
}

nav {
  width: 400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 45%;
  height: 30px;
}

nav > a img {
  width: 100px;
  border-radius: 50%;
}

ul {
  display: flex;
  transition: 0.5s;
  width: 100%;
  justify-content: space-between;
}
ul a {
  display: block;
  text-decoration: none;
  font-family: "Montserrat";
  position: relative;
  display: block;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  color: #01b4ae;
}
ul a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px; /* отступ снизу (регулируй по вкусу) */
  width: 0;
  height: 2px;
  background-color: #01b4ae; /* цвет линии */
  transition: width 0.3s ease; /* плавность */
}
ul a:hover::after {
  width: 100%;
}

label {
  display: none;
}

#burger-toggle {
  display: none;
}

@media (max-width: 1000px) {
  body ul a {
    font-size: 12px;
  }
}
@media (max-width: 800px) {
  label {
    position: relative;
    z-index: 1000;
    display: block;
    height: 27px;
    width: 30px;
  }
  label::after, label::before, label span {
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #01b4ae;
    transition: 0.3s;
    border-radius: 30px;
  }
  label::before {
    content: "";
    top: 0;
  }
  label::after {
    content: "";
    bottom: 0;
  }
  label span {
    top: 11px;
  }
  #burger-toggle:checked ~ label::after {
    transform: rotate(45deg);
    bottom: 10px;
  }
  #burger-toggle:checked ~ label::before {
    transform: rotate(-45deg);
    top: 12px;
  }
  #burger-toggle:checked ~ label span {
    transform: rotate(-45deg);
    top: 12px;
  }
  ul {
    position: fixed;
    top: 0;
    right: -100vw; /* уезжает за экран */
    left: 100vw;
    width: 100vw; /* занимает всю ширину */
    height: 100vh; /* и всю высоту */
    background-color: white;
    padding-top: 100px; /* чтобы ссылки не прилипали к краю */
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    transition: 0.5s;
    z-index: 998; /* поверх контента, но под хедером */
  }
  #burger-toggle:checked ~ ul {
    left: 0;
    right: 0;
  }
}
@media (max-width: 800px) {
  body header {
    display: flex;
    flex-direction: unset;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  body header nav {
    height: 25px;
    width: 30px;
    margin: 0;
    margin-right: 15px;
  }
  body header .logo {
    margin: 0;
    height: 60px;
    width: 270px;
    margin-left: 15px;
  }
  body header .logo .logo_text {
    width: 195px;
  }
  body header .logo .logo_text p {
    font-size: 18px;
  }
  body header .logo .logo_img {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 600px) {
  body header {
    height: 160px;
  }
  body header .logo {
    margin: 0;
    height: 45px;
    width: 185px;
    margin-left: 15px;
  }
  body header .logo .logo_text {
    width: 130px;
    margin-right: 10px;
  }
  body header .logo .logo_text p {
    font-size: 12px;
  }
  body header .logo .logo_img {
    width: 45px;
    height: 45px;
  }
}
body .main {
  width: 100%;
  height: 100%;
  background-color: white;
}
body .main .blue_line {
  background-color: #4D7ABD;
  padding-top: 8px;
  width: 100%;
}
body .main .img_man {
  width: 100%;
  height: 700px;
  background-image: url(./images/image_man.png);
  background-size: cover;
}
body .main .bold_text {
  width: 55%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 80px;
  margin-bottom: 80px;
}
body .main .bold_text p {
  font-family: "Raleway";
  font-size: 32px; /* примерный размер */
  font-weight: 800; /* жирный */
  line-height: 1.2; /* межстрочный интервал */
  color: #2b2b2b; /* тёмно-серый, почти чёрный */
  font-family: sans-serif;
  text-align: center;
}
body .main .img_hashtag {
  width: 587px;
  height: 105px;
  background-image: url(./images/future_engineer.png);
  background-size: cover;
  margin-right: auto;
  margin-left: auto;
}
body .main .img_icons {
  width: 70%;
  height: 140px;
  background-image: url(./images/engineers-in-the-making-and-icons.jpg);
  background-size: cover;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
}
body .main .down_text {
  width: 68%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
}
body .main .down_text p {
  font-family: "Raleway";
  font-size: 20px; /* примерный размер */
  font-weight: 700; /* жирный */
  line-height: 1.2; /* межстрочный интервал */
  color: #2b2b2b; /* тёмно-серый, почти чёрный */
  font-family: sans-serif;
  text-align: center;
  font-weight: 800;
}
body .main a {
  text-decoration: none;
  display: block;
  width: 100px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}
body .main a .button {
  width: 100px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 2px solid orange;
}
body .main a .button p {
  font-size: 15px;
  display: block;
  color: orange;
}
body .main a:hover .button {
  background-color: orange;
}
body .main a:hover .button p {
  color: white;
}

@media (max-width: 1000px) {
  body .main {
    height: 100%;
  }
  body .main .img_man {
    height: 500px;
  }
  body .main .bold_text {
    width: 65%;
  }
  body .main .bold_text p {
    font-size: 25px;
    font-weight: 600;
  }
  body .main .img_hashtag {
    width: 450px;
    height: 80px;
  }
  body .main .img_icons {
    height: 90px;
  }
  body .main .down_text p {
    font-size: 16px;
  }
  body .main a .button {
    width: 85px;
    height: 40px;
  }
  body .main a .button p {
    font-size: 12px;
  }
}
@media (max-width: 750px) {
  body .main .img_man {
    height: 350px;
  }
  body .main .bold_text {
    margin-top: 30px;
  }
  body .main .bold_text p {
    font-size: 20px;
  }
  body .main .img_icons {
    margin-top: 20px;
    width: 85%;
  }
  body .main .down_text {
    width: 85%;
    margin-top: 60px;
  }
  body .main .down_text p {
    font-size: 18px;
  }
}
@media (max-width: 550px) {
  body .main .bold_text {
    width: 90%;
    height: 100%;
  }
  body .main .bold_text p {
    font-size: 24px;
  }
  body .main .img_hashtag {
    width: 350px;
    height: 60px;
  }
  body .main .img_icons {
    width: 500px;
    height: 60px;
  }
  body .main .down_text {
    width: 85%;
    margin-top: 60px;
  }
  body .main .down_text p {
    font-size: 15px;
    font-weight: 800;
  }
  body .main a {
    text-decoration: none;
    display: block;
    width: 100px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  body .main a .button {
    width: 100px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 2px solid orange;
  }
  body .main a .button p {
    font-size: 15px;
    display: block;
    color: orange;
  }
}
@media (max-width: 500px) {
  body .main .img_man {
    height: 250px;
  }
  body .main .img_hashtag {
    width: 275px;
    height: 48px;
  }
  body .main .img_icons {
    width: 450px;
  }
}
@media (max-width: 450px) {
  body .main .img_man {
    height: 220px;
  }
  body .main .img_icons {
    width: 400px;
  }
  body .main .down_text {
    width: 90%;
  }
  body .main .down_text p {
    font-weight: 800;
  }
}
body .colors_blocks {
  width: 100%;
  height: 500px;
  background-color: rgb(110, 22, 22);
}

body .footer {
  width: 100%;
  height: 500px;
  background-color: #1ac6b1;
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  padding-right: 100px;
  padding-left: 100px;
}
body .footer .block1 {
  height: 100%;
}
body .footer .block1 .logo_footer {
  width: 365px;
  height: 85px;
  display: flex;
  margin-bottom: 10px;
}
body .footer .block1 .logo_footer .logo_text {
  width: 265px;
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 15px;
}
body .footer .block1 .logo_footer .logo_text p {
  color: black;
  font-size: 24px;
  font-family: "Montserrat";
  display: block;
  font-weight: 500;
}
body .footer .block1 .logo_footer .logo_img {
  width: 85px;
  height: 85px;
  background-image: url(./images/logo.jpg);
  background-size: cover;
  border-radius: 50%;
}
body .footer .block1 .adress {
  background-color: coral;
  width: 365px;
  height: 85px;
}
body .footer .block2 {
  height: 180px;
  display: flex;
}
body .footer .block2 a {
  text-decoration: none;
  display: block;
}
body .footer .block2 a .button {
  height: 80px;
  width: 250px;
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .footer .block2 a .button p {
  color: black;
  font-size: 18px;
  font-family: "Raleway";
  font-weight: 500;
  display: block;
}

@media (max-width: 850px) {
  body .footer {
    flex-direction: column;
    padding-left: 50px;
    justify-content: flex-start;
  }
  body .footer .block1 {
    height: 100%;
    margin-bottom: 50px;
  }
  body .footer .block1 .logo_footer {
    margin-bottom: 50px;
  }
  body .footer .block2 {
    height: 100%;
  }
}
@media (max-width: 600px) {
  body .footer .block1 {
    margin-bottom: 60px;
  }
  body .footer .block1 .logo_footer {
    margin: 0;
    height: 60px;
    width: 270px;
    margin-bottom: 60px;
  }
  body .footer .block1 .logo_footer .logo_text {
    width: 195px;
  }
  body .footer .block1 .logo_footer .logo_text p {
    font-size: 18px;
  }
  body .footer .block1 .logo_footer .logo_img {
    width: 60px;
    height: 60px;
  }
  body .footer .block1 .adress {
    width: 270px;
  }
  body .footer .block2 a .button {
    height: 50px;
    width: 270px;
  }
}
body .main_services {
  width: 100%;
  height: 100%;
}
body .main_services .img_kompas {
  width: 100%;
  height: 700px;
  background-image: url(./images/kompas.jpg);
  background-size: cover;
}
body .main_services .blue_line {
  background-color: #4D7ABD;
  padding-top: 8px;
  width: 100%;
}
body .main_services .bold_text {
  width: 55%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 80px;
  margin-bottom: 80px;
}
body .main_services .bold_text p {
  font-family: "Raleway";
  font-size: 32px; /* примерный размер */
  font-weight: 800; /* жирный */
  line-height: 1.2; /* межстрочный интервал */
  color: #2b2b2b; /* тёмно-серый, почти чёрный */
  font-family: sans-serif;
  text-align: center;
}
body .main_services .block_iconText {
  margin: 0 auto 80px auto;
  display: flex;
  justify-content: space-around;
  width: 745px;
}
body .main_services .block_iconText .text2_services {
  height: 100%;
  width: -moz-fit-content;
  width: fit-content;
}
body .main_services .block_iconText .text2_services p {
  color: black;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 15px;
}
body .main_services .block_iconText .text2_services .main_text {
  font-size: 25px;
  margin-bottom: 20px;
}
body .main_services .block_iconText .text2_services .last_text {
  margin-bottom: 0;
}
body .main_services .block_iconText .icon {
  width: 210px;
  height: 200px;
  background-color: burlywood;
  background-image: url(/images/icon_submarine_copy.png);
  background-size: cover;
}
body .main_services .block_info {
  width: 745px;
  height: 100%;
  margin: 0 auto 80px auto;
}
body .main_services .block_info h1 {
  color: #4D7ABD;
  font-family: "Raleway";
  margin-bottom: 32px;
  font-weight: 800;
}
body .main_services .block_info p {
  color: black;
  font-size: 18px;
  font-family: "Montserrat";
  font-weight: 500;
  line-height: 30px;
}
body .main_services .drone_img {
  width: 735px;
  height: 500px;
  background-image: url(./images/drone.jpg);
  background-size: cover;
  margin: 0 auto 80px auto;
}
body .main_services .img_hashtag {
  width: 587px;
  height: 105px;
  background-image: url(./images/future_engineer.png);
  background-size: cover;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}
body .main_services .block_text_hash {
  width: 745px;
  margin: 0 auto 0 auto;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 80px;
}
body .main_services .block_text_hash p {
  color: black;
  font-size: 18px;
  font-family: "Montserrat";
  font-weight: 500;
  line-height: 30px;
}
body .main_services .block_text_hash .text2 {
  margin-top: 20px;
  margin-bottom: 20px;
}
body .main_services .block_text_hash .text_list {
  line-height: 40px;
}
body .main_services .block_text_hash .text_list_600 {
  display: none;
}
body .main_services .drone2_img {
  width: 735px;
  height: 500px;
  background-image: url(./images/drone2.jpg);
  background-size: cover;
  margin: 0 auto 80px auto;
}
body .main_services .blue_block {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #4D7ABD;
  padding-top: 30px;
  padding-bottom: 80px;
}
body .main_services .blue_block h1 {
  text-align: center;
  margin-bottom: 30px;
}
body .main_services .blue_block .text1 {
  height: 100%;
  width: 730px;
  margin: 0 auto 0 auto;
  margin-bottom: 30px;
}
body .main_services .blue_block .text1 p {
  color: white;
  font-size: 18px;
  font-family: "Montserrat";
  font-weight: 500;
  line-height: 30px;
}
body .main_services .blue_block .text2 {
  height: 100%;
  width: 730px;
  margin: 0 auto 80px auto;
}
body .main_services .blue_block .text2 p {
  color: white;
  font-size: 18px;
  font-family: "Montserrat";
  font-weight: 500;
  line-height: 30px;
}
body .main_services .blue_block .quote {
  width: 730px;
  margin: 0 auto 0 auto;
}
body .main_services .blue_block .quote p {
  font-family: "PlayFair";
  font-size: 32px;
}
body .main_services .blue_block .quote .text_quote1 {
  margin-bottom: 30px;
}

@media (max-width: 800px) {
  body .main_services .img_kompas {
    width: 100%;
    height: 400px;
  }
  body .main_services .block_iconText {
    justify-content: space-between;
    width: 600px;
  }
  body .main_services .block_iconText .text2_services {
    width: 350px;
  }
  body .main_services .block_info {
    width: 600px;
  }
  body .main_services .drone_img {
    width: 600px;
    height: 350px;
  }
  body .main_services .block_text_hash {
    width: 600px;
  }
  body .main_services .drone2_img {
    width: 600px;
    height: 350px;
  }
  body .main_services .blue_block .text1 {
    width: 600px;
  }
  body .main_services .blue_block .text2 {
    width: 600px;
  }
  body .main_services .blue_block .quote {
    width: 600px;
  }
}
@media (max-width: 600px) {
  body .main_services .img_kompas {
    height: 300px;
  }
  body .main_services .bold_text {
    width: 400px;
    margin: 60px auto 60px auto;
  }
  body .main_services .bold_text p {
    font-size: 24px;
  }
  body .main_services .block_iconText {
    width: 400px;
  }
  body .main_services .block_iconText .text2_services {
    width: 260px;
  }
  body .main_services .block_iconText .text2_services p {
    font-size: 14px;
  }
  body .main_services .block_iconText .text2_services .main_text {
    font-size: 16px;
  }
  body .main_services .block_iconText .icon {
    width: 130px;
    height: 120px;
  }
  body .main_services .block_info {
    width: 400px;
    margin-bottom: 60px;
  }
  body .main_services .block_info h1 {
    font-size: 24px;
  }
  body .main_services .block_info p {
    font-size: 14px;
  }
  body .main_services .drone_img {
    width: 400px;
    height: 250px;
    margin-bottom: 60px;
  }
  body .main_services .img_hashtag {
    width: 400px;
    height: 70px;
  }
  body .main_services .block_text_hash {
    width: 400px;
    margin-bottom: 60px;
  }
  body .main_services .block_text_hash p {
    font-size: 14px;
  }
  body .main_services .block_text_hash .text_list {
    display: none;
  }
  body .main_services .block_text_hash .text_list_600 {
    display: flex;
    line-height: 35px;
  }
  body .main_services .drone2_img {
    width: 400px;
    height: 250px;
    margin-bottom: 60px;
  }
  body .main_services .blue_block h1 {
    font-size: 24px;
  }
  body .main_services .blue_block .text1 {
    width: 400px;
  }
  body .main_services .blue_block .text1 p {
    font-size: 14px;
  }
  body .main_services .blue_block .text2 {
    width: 400px;
    margin-bottom: 60px;
  }
  body .main_services .blue_block .text2 p {
    font-size: 14px;
  }
  body .main_services .blue_block .quote {
    width: 400px;
  }
  body .main_services .blue_block .quote p {
    font-size: 24px;
  }
}
@media (max-width: 500px) {
  body .main_services .img_kompas {
    height: 220px;
  }
  body .main_services .bold_text p {
    font-size: 20px;
  }
  body .main_services .block_iconText {
    width: 350px;
  }
  body .main_services .block_iconText .text2_services {
    width: 230px;
  }
  body .main_services .block_iconText .text2_services p {
    font-size: 12px;
  }
  body .main_services .block_iconText .icon {
    width: 110px;
    height: 100px;
    margin-top: 20px;
  }
  body .main_services .block_info {
    width: 350px;
  }
  body .main_services .drone_img {
    width: 350px;
    height: 220px;
  }
  body .main_services .img_hashtag {
    width: 350px;
    height: 62px;
  }
  body .main_services .block_text_hash {
    width: 350px;
  }
  body .main_services .drone2_img {
    width: 350px;
    height: 220px;
  }
  body .main_services .blue_block h1 {
    font-size: 22px;
  }
  body .main_services .blue_block .text1 {
    width: 350px;
  }
  body .main_services .blue_block .text2 {
    width: 350px;
  }
  body .main_services .blue_block .quote {
    width: 350px;
  }
}
body .main_block_programs {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 80px;
}
body .main_block_programs .line {
  width: 100%;
  height: 2px;
  background-color: black;
  margin-bottom: 70px;
}
body .main_block_programs .line2 {
  width: 100%;
  height: 2px;
  background-color: black;
  margin-bottom: 80px;
}
body .main_block_programs .line3 {
  width: 100%;
  height: 2px;
  background-color: black;
  margin-bottom: 80px;
}
body .main_block_programs .img1 {
  width: 100%;
  height: 700px;
  background-image: url(./images/programs_img1.png);
  background-size: cover;
  margin-bottom: 80px;
}
body .main_block_programs .about_block {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-around;
}
body .main_block_programs .about_block .text {
  width: 500px;
  height: -moz-fit-content;
  height: fit-content;
}
body .main_block_programs .about_block .text h1 {
  color: black;
  line-height: 100px;
  font-family: "Raleway";
}
body .main_block_programs .about_block .text .par1 {
  width: 400px;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 20px;
}
body .main_block_programs .about_block .text .par1 p {
  color: black;
  font-size: 18px;
  font-family: "Montserrat";
  font-weight: 500;
  line-height: 30px;
}
body .main_block_programs .about_block .text .par2 {
  width: 400px;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 20px;
}
body .main_block_programs .about_block .text .par2 p {
  color: black;
  font-size: 18px;
  font-family: "Montserrat";
  font-weight: 500;
  line-height: 30px;
}
body .main_block_programs .about_block .text .par3 {
  width: 400px;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 20px;
}
body .main_block_programs .about_block .text .par3 p {
  color: black;
  font-size: 18px;
  font-family: "Montserrat";
  font-weight: 500;
  line-height: 30px;
}
body .main_block_programs .about_block .text .par4 {
  width: 400px;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 20px;
}
body .main_block_programs .about_block .text .par4 p {
  color: black;
  font-size: 18px;
  font-family: "Montserrat";
  font-weight: 500;
  line-height: 30px;
}
body .main_block_programs .about_block .img {
  width: 730px;
  height: 780px;
  background-image: url(./images/programs_img2.png);
  background-size: cover;
}
body .main_block_programs .for {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}
body .main_block_programs .for .text1 {
  width: 90%;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 30px;
}
body .main_block_programs .for .text1 h1 {
  color: black;
  font-family: "Raleway";
}
body .main_block_programs .for .text2 {
  width: 90%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  margin-bottom: 20px;
}
body .main_block_programs .for .text2 .group1 {
  width: 40%;
  height: 350px;
}
body .main_block_programs .for .text2 .group1 .par1 {
  width: 400px;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 20px;
}
body .main_block_programs .for .text2 .group1 .par1 p {
  color: black;
  font-size: 18px;
  font-family: "Montserrat";
  font-weight: 500;
  line-height: 30px;
}
body .main_block_programs .for .text2 .group1 .par2 {
  width: 400px;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 20px;
}
body .main_block_programs .for .text2 .group1 .par2 p {
  color: black;
  font-size: 18px;
  font-family: "Montserrat";
  font-weight: 500;
  line-height: 30px;
  font-weight: 700;
}
body .main_block_programs .for .text2 .group1 .par3 {
  width: 400px;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 20px;
}
body .main_block_programs .for .text2 .group1 .par3 p {
  color: black;
  font-size: 18px;
  font-family: "Montserrat";
  font-weight: 500;
  line-height: 30px;
}
body .main_block_programs .for .text2 .group2 {
  width: 50%;
  height: 350px;
}
body .main_block_programs .for .text2 .group2 .par1 {
  width: 400px;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 20px;
}
body .main_block_programs .for .text2 .group2 .par1 p {
  color: black;
  font-size: 18px;
  font-family: "Montserrat";
  font-weight: 500;
  line-height: 30px;
}
body .main_block_programs .for .text2 .group2 .par2 {
  width: 400px;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 20px;
}
body .main_block_programs .for .text2 .group2 .par2 p {
  color: black;
  font-size: 18px;
  font-family: "Montserrat";
  font-weight: 500;
  line-height: 30px;
}
body .main_block_programs .for .images {
  width: 90%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
}
body .main_block_programs .for .images .img1_for {
  width: 350px;
  height: 350px;
  background-image: url(./images/programs_img3.png);
  background-size: cover;
  margin-right: 20px;
}
body .main_block_programs .for .images .img2 {
  width: 800px;
  height: 350px;
  background-image: url(./images/programs_img4.png);
  background-size: cover;
}
body .main_block_programs .goal {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-around;
}
body .main_block_programs .goal .text {
  width: 500px;
  height: -moz-fit-content;
  height: fit-content;
}
body .main_block_programs .goal .text h1 {
  color: black;
  line-height: 80px;
  font-family: "Raleway";
}
body .main_block_programs .goal .text .par1 {
  width: 450px;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 20px;
}
body .main_block_programs .goal .text .par1 p {
  color: black;
  font-size: 18px;
  font-family: "Montserrat";
  font-weight: 500;
  line-height: 30px;
}
body .main_block_programs .goal .text .par2 {
  width: 450px;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 20px;
}
body .main_block_programs .goal .text .par2 p {
  color: black;
  font-size: 18px;
  font-family: "Montserrat";
  font-weight: 500;
  line-height: 30px;
}
body .main_block_programs .goal .text .par3 {
  width: 450px;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 20px;
}
body .main_block_programs .goal .text .par3 p {
  color: black;
  font-size: 18px;
  font-family: "Montserrat";
  font-weight: 700;
  line-height: 30px;
}
body .main_block_programs .goal .text .par4 {
  width: 450px;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 20px;
}
body .main_block_programs .goal .text .par4 p {
  color: black;
  font-size: 18px;
  font-family: "Montserrat";
  font-weight: 500;
  line-height: 30px;
}
body .main_block_programs .goal .img {
  width: 620px;
  height: 640px;
  background-image: url(./images/programs_img5.png);
  background-size: cover;
}
body .main_block_programs .partners {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .main_block_programs .partners .text1 {
  width: 90%;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 80px;
}
body .main_block_programs .partners .text1 h1 {
  color: black;
  font-family: "Raleway";
}
body .main_block_programs .partners .blocks {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: -moz-fit-content;
  height: fit-content;
}
body .main_block_programs .partners .blocks .partner1 {
  width: 400px;
  height: -moz-fit-content;
  height: fit-content;
}
body .main_block_programs .partners .blocks .partner1 .img {
  width: 310px;
  height: 270px;
  background-image: url(./images/programs_img6.png);
  background-size: cover;
  margin-bottom: 30px;
}
body .main_block_programs .partners .blocks .partner1 p {
  color: black;
  font-size: 18px;
  font-family: "Montserrat";
  font-weight: 500;
  line-height: 30px;
}
body .main_block_programs .partners .blocks .partner2 {
  width: 400px;
  height: -moz-fit-content;
  height: fit-content;
}
body .main_block_programs .partners .blocks .partner2 .img {
  width: 390px;
  height: 270px;
  background-image: url(./images/programs_img7.png);
  background-size: cover;
  margin-bottom: 30px;
}
body .main_block_programs .partners .blocks .partner2 p {
  color: black;
  font-size: 18px;
  font-family: "Montserrat";
  font-weight: 500;
  line-height: 30px;
}
body .main_block_programs .partners .blocks .partner3 {
  width: 400px;
  height: -moz-fit-content;
  height: fit-content;
}
body .main_block_programs .partners .blocks .partner3 .img {
  width: 270px;
  height: 270px;
  margin-bottom: 30px;
  background-image: url(./images/programs_img8.png);
  background-size: cover;
}
body .main_block_programs .partners .blocks .partner3 p {
  color: black;
  font-size: 18px;
  font-family: "Montserrat";
  font-weight: 500;
  line-height: 30px;
}

@media (max-width: 1100px) {
  body .main_block_programs .img1 {
    height: 500px;
  }
  body .main_block_programs .about_block .text {
    width: 350px;
  }
  body .main_block_programs .about_block .text .par {
    width: 350px;
    margin-bottom: 12px;
  }
  body .main_block_programs .about_block .text .par p {
    font-size: 14px;
  }
  body .main_block_programs .about_block .img {
    width: 530px;
    height: 580px;
  }
  body .main_block_programs .for .text1 {
    width: 90%;
  }
  body .main_block_programs .for .text2 {
    width: 90%;
  }
  body .main_block_programs .for .text2 .group1 {
    width: 50%;
    height: -moz-fit-content;
    height: fit-content;
  }
  body .main_block_programs .for .text2 .group1 .par p {
    font-size: 14px;
  }
  body .main_block_programs .for .text2 .group1 .par3 {
    margin-bottom: 0;
  }
  body .main_block_programs .for .text2 .group2 {
    width: 40%;
    height: -moz-fit-content;
    height: fit-content;
  }
  body .main_block_programs .for .text2 .group2 .par p {
    font-size: 14px;
  }
  body .main_block_programs .for .text2 .group2 .par2 {
    margin-bottom: 0;
  }
  body .main_block_programs .for .images {
    width: 90%;
  }
  body .main_block_programs .goal {
    width: 100%;
    margin: 0 auto 0 auto;
    display: flex;
    justify-content: space-around;
    margin-bottom: 80px;
  }
  body .main_block_programs .goal .text {
    width: 300px;
  }
  body .main_block_programs .goal .text .par {
    width: 300px;
  }
  body .main_block_programs .goal .text .par p {
    font-size: 14px;
  }
  body .main_block_programs .goal .text .par4 {
    margin-bottom: 0;
  }
  body .main_block_programs .goal .img {
    width: 530px;
    height: 580px;
  }
  body .main_block_programs .partners .text1 {
    text-align: center;
    width: 90%;
  }
  body .main_block_programs .partners .blocks {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .main_block_programs .partners .blocks .partner1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }
  body .main_block_programs .partners .blocks .partner1 p {
    text-align: center;
  }
  body .main_block_programs .partners .blocks .partner2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }
  body .main_block_programs .partners .blocks .partner2 p {
    text-align: center;
  }
  body .main_block_programs .partners .blocks .partner3 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .main_block_programs .partners .blocks .partner3 p {
    text-align: center;
  }
  body .main_block_programs .line2 {
    display: block;
  }
}
@media (max-width: 1050px) {
  body .main_block_programs .for .text1 {
    width: 95%;
  }
  body .main_block_programs .for .text2 {
    width: 95%;
  }
  body .main_block_programs .for .images {
    width: 95%;
  }
}
@media (max-width: 900px) {
  body .main_block_programs .about_block {
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
  }
  body .main_block_programs .about_block .text {
    width: 600px;
    margin-bottom: 30px;
  }
  body .main_block_programs .about_block .text .par {
    width: 550px;
  }
  body .main_block_programs .about_block .text .par p {
    font-size: 18px;
  }
  body .main_block_programs .about_block .img {
    width: 600px;
  }
  body .main_block_programs .for {
    height: -moz-fit-content;
    height: fit-content;
    margin-bottom: 80px;
  }
  body .main_block_programs .for .text1 {
    width: 600px;
  }
  body .main_block_programs .for .text2 {
    width: 600px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }
  body .main_block_programs .for .text2 .group1 {
    height: -moz-fit-content;
    height: fit-content;
    width: 600px;
    margin-bottom: 50px;
  }
  body .main_block_programs .for .text2 .group1 .par {
    width: 550px;
  }
  body .main_block_programs .for .text2 .group1 .par p {
    font-size: 18px;
  }
  body .main_block_programs .for .text2 .group1 .par3 {
    margin-bottom: 50px;
  }
  body .main_block_programs .for .text2 .group1 .img_group {
    width: 600px;
    height: 550px;
    background-image: url(./images/programs_img3.png);
    background-size: cover;
    margin-right: 20px;
  }
  body .main_block_programs .for .text2 .group2 {
    height: -moz-fit-content;
    height: fit-content;
    width: 600px;
  }
  body .main_block_programs .for .text2 .group2 .par {
    width: 550px;
  }
  body .main_block_programs .for .text2 .group2 .par p {
    font-size: 18px;
  }
  body .main_block_programs .for .text2 .group2 .par2 {
    margin-bottom: 50px;
  }
  body .main_block_programs .for .text2 .group2 .img_group {
    width: 600px;
    height: 300px;
    background-image: url(./images/programs_img4.png);
    background-size: cover;
  }
  body .main_block_programs .for .images {
    display: none;
  }
  body .main_block_programs .goal {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .main_block_programs .goal .text {
    width: 600px;
  }
  body .main_block_programs .goal .text .par {
    width: 600px;
  }
  body .main_block_programs .goal .text .par p {
    font-size: 18px;
  }
  body .main_block_programs .goal .text .par4 {
    margin-bottom: 50px;
  }
  body .main_block_programs .goal .img {
    width: 600px;
  }
  body .main_block_programs .line {
    margin-bottom: 80px;
  }
  body .main_block_programs .line2 {
    margin-bottom: 50px;
  }
}
@media (max-width: 800px) {
  body .main_block_programs .img1 {
    height: 400px;
  }
}
@media (max-width: 600px) {
  body .main_block_programs .img1 {
    height: 300px;
  }
  body .main_block_programs .about_block .text {
    width: 500px;
  }
  body .main_block_programs .about_block .text .par {
    width: 450px;
  }
  body .main_block_programs .about_block .img {
    width: 500px;
  }
  body .main_block_programs .for .text1 {
    width: 500px;
  }
  body .main_block_programs .for .text2 {
    width: 500px;
    margin-bottom: 0px;
  }
  body .main_block_programs .for .text2 .group1 {
    width: 500px;
    margin-bottom: 30px;
  }
  body .main_block_programs .for .text2 .group1 .par {
    width: 450px;
    margin-bottom: 12px;
  }
  body .main_block_programs .for .text2 .group1 .par3 {
    margin-bottom: 30px;
  }
  body .main_block_programs .for .text2 .group1 .img_group {
    width: 500px;
    height: 500px;
  }
  body .main_block_programs .for .text2 .group2 {
    width: 500px;
  }
  body .main_block_programs .for .text2 .group2 .par {
    width: 450px;
    margin-bottom: 12px;
  }
  body .main_block_programs .for .text2 .group2 .par2 {
    margin-bottom: 30px;
  }
  body .main_block_programs .for .text2 .group2 .img_group {
    width: 500px;
    height: 200px;
  }
  body .main_block_programs .goal .text {
    width: 500px;
  }
  body .main_block_programs .goal .text .par {
    width: 450px;
    margin-bottom: 12px;
  }
  body .main_block_programs .goal .text .par4 {
    margin-bottom: 30px;
  }
  body .main_block_programs .goal .img {
    width: 500px;
    height: 530px;
  }
}
@media (max-width: 500px) {
  body .main_block_programs .img1 {
    height: 350px;
    background-image: url(./images/programs_img9.png);
    margin-bottom: 50px;
  }
  body .main_block_programs .about_block .text {
    width: 400px;
  }
  body .main_block_programs .about_block .text h1 {
    line-height: 75px;
    font-size: 28px;
  }
  body .main_block_programs .about_block .text .par {
    width: 350px;
  }
  body .main_block_programs .about_block .text .par p {
    font-size: 14px;
  }
  body .main_block_programs .about_block .text .par4 {
    margin-bottom: 0px;
  }
  body .main_block_programs .about_block .img {
    width: 400px;
    height: 450px;
  }
  body .main_block_programs .for .text1 {
    width: 400px;
    margin-bottom: 0;
  }
  body .main_block_programs .for .text1 h1 {
    line-height: 75px;
    font-size: 28px;
  }
  body .main_block_programs .for .text2 {
    width: 400px;
  }
  body .main_block_programs .for .text2 .group1 {
    width: 400px;
  }
  body .main_block_programs .for .text2 .group1 .par {
    width: 350px;
  }
  body .main_block_programs .for .text2 .group1 .par p {
    font-size: 14px;
  }
  body .main_block_programs .for .text2 .group1 .img_group {
    width: 400px;
    height: 400px;
  }
  body .main_block_programs .for .text2 .group2 {
    width: 400px;
  }
  body .main_block_programs .for .text2 .group2 .par {
    width: 350px;
  }
  body .main_block_programs .for .text2 .group2 .par p {
    font-size: 14px;
  }
  body .main_block_programs .for .text2 .group2 .img_group {
    width: 400px;
    height: 200px;
  }
  body .main_block_programs .goal .text {
    width: 400px;
  }
  body .main_block_programs .goal .text h1 {
    line-height: 75px;
    font-size: 28px;
  }
  body .main_block_programs .goal .text .par {
    width: 350px;
    margin-bottom: 12px;
  }
  body .main_block_programs .goal .text .par p {
    font-size: 14px;
  }
  body .main_block_programs .goal .text .par4 {
    margin-bottom: 30px;
  }
  body .main_block_programs .goal .img {
    width: 400px;
    height: 430px;
  }
  body .main_block_programs .partners {
    margin-bottom: 50px;
  }
  body .main_block_programs .partners .text1 {
    margin-bottom: 60px;
  }
  body .main_block_programs .partners .text1 h1 {
    line-height: 30px;
    font-size: 28px;
  }
  body .main_block_programs .partners .blocks .partner1 {
    margin-bottom: 30px;
  }
  body .main_block_programs .partners .blocks .partner1 .img {
    width: 290px;
    height: 250px;
    margin-bottom: 30px;
  }
  body .main_block_programs .partners .blocks .partner1 p {
    font-size: 14px;
    width: 300px;
  }
  body .main_block_programs .partners .blocks .partner2 {
    margin-bottom: 60px;
  }
  body .main_block_programs .partners .blocks .partner2 .img {
    width: 370px;
    height: 250px;
    margin-bottom: 20px;
  }
  body .main_block_programs .partners .blocks .partner2 p {
    font-size: 14px;
    width: 300px;
  }
  body .main_block_programs .partners .blocks .partner3 p {
    font-size: 14px;
    width: 300px;
  }
  body .main_block_programs .line {
    margin-bottom: 50px;
  }
}/*# sourceMappingURL=styles.css.map */